tmrk-cloudapi/src/main/resources/META-INF/schema/error.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Error">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="message"/>
          <xs:attribute type="xs:short" name="majorErrorCode"/>
          <xs:attribute type="xs:string" name="minorErrorCode"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>